html {
    scroll-behavior: smooth;
  }
body{
    margin: 0  ;                   
 } 
.main{
   display:block;
   background-color: wheat;

}
.video{
    height: 100vh;
    position: fixed;
    width:101vw;
    top:0px;
    z-index:2;
    background-color:black;

}
canvas{
    height:100%;
    width:100%;
    position: fixed;
    top:0px;
    z-index: 3;
}
.flex{
    display:flex                         
}
.title{
    flex:1;
    margin:0 auto;
    font-family: 'Lacquer', sans-serif;
    font-size: 40px; 
    color:rgb(255,140,0);

}
li{ 
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
    color:red;
}

.git_link>a{
    border:2px solid black;
    color:rgb(255,140,0);

    padding:5px;
    margin-right: -50% ; 
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

a{   
    color:red;
    text-decoration:none;
}


.header{
    /* background-color:'rgb(0,0,0)'; */
    z-index:2;
    /* position:fixed; */
    height: 100vh;
    top:0px;
    width: 100%;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    
}
/* .subheader{
    background-color:black;
    border:none;
    transition: 0.5s;
    width: 100%;
    height: fit-content;   
    padding:5px;
    align-items:flex-start;
    flex-wrap:wrap;
} */
/* .nav{
    background-color:"black";
    transition: 0.5s;
    flex:10;
} */
/* .nav span{
    display: none;
    position: absolute;
    top:11px;
    left:20px;
    width:50px;
    
} */
/* .toggle{
    cursor: pointer;
    position: fixed;
    top:10px;
    left:10px;
    width:55px;
    height: 45px;
    background-color: white;
} */
/* input{ 
    margin-left:10px;
    width:74px;
    height: 55px;
    position: absolute;;
    top:0px;
    opacity: 0;
    z-index: 3;
} */






/* .navigation_bar{
    background-color:'rgb(0,0,0)';
    display: flex;
    transition: 0.5s;
    height: auto;
    flex:10;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
    transition: 0.3s;
} */
/* 
.navigation_bar>a>button{
    border:none;
    font-family: 'Lacquer', sans-serif;
    background:#ffffff00;
    color:rgb(255,140,0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7vw;
    transition: 0.3s;

} */

.text_area{
    height: 90vh; 
    font-family: 'Karma', serif;
    font-size: 25px;
    flex-wrap: wrap;
}
.navbar{
  position: relative;
  z-index:2001 !important;
}
.body_wrapper{ 
    position: absolute;
    top:100vh;
    z-index:2000 !important;
    width: 96%;
    height: 250vh;
    left: 2%;
    right:2%;
    flex-direction: column;
    justify-content: flex-start;
}
.PROJECTS{
    background-color: rgba(255, 255, 255, .1)    ;
    width:100%;
    height:auto;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.project_list{
    flex:7;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
}
.project_list>li{
    padding:10px;
    font-size:60px
}
.TANKER{
    height: auto;

}
.AUDIO_VISUALISER{
    height: auto;
   
    
}

.SKILLS{
    width:100%;
    height:auto;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, .1)    ;
    flex-direction: column;
    justify-content: flex-start;
}
.skills_list{
    flex:10;
    flex-direction: column;
    justify-content: space-between;
}

.skills_list>li{
    font-size:60px
}

.skills_li{
    font-size:60px;
    margin-left: 5px;
    padding: 10px;
    list-style-position: inside;
    list-style-type: disc;
}


.footer{
    height:50vh;
    background: url("coverpic.jpg") no-repeat ;
    background-size:cover;
    background-position: center;
    
}

.project_list>a:hover{
	color:white;
}

 

/* .nav span{
    z-index: 2;
    display: block;
    background-color: rgb(255,140,0);
} */

















.ml6 {
    position: absolute;
    font-weight: 900;
    font-size: 5.5em;
    top:58vh;
    left:24vw;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .letters{
      color:white;
      
  }
  .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 5px;
	width: 100%;
	background-color:red;
	transform-origin: 0% 0%;
  bottom: 0;
  background: -webkit-linear-gradient(#eee, #333);
  }
  .ml12 {
	font-weight: 900;
	font-size: 4em;
	text-transform: uppercase;
    letter-spacing: 0.02em;
    color:red;
    position:absolute;
    top:80vh;
    left:29vw;
  }
  
  .ml12 .letter {
	display: inline-block;
    line-height: 1em;
    
  }

 






.ml6::after{
    content:'';
}

 





@media screen and (max-width: 991px){

    .ml6 {
        position: absolute;
        font-weight: 900;
        font-size: 5.5em;
        top:58vh;
        left:14vw;
      }
      
      .ml6 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
      }
      
      .ml6 .letter {
        display: inline-block;
        line-height: 1em;
      }
      .letters{
          color:white;
      }
      .line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        transform-origin: 0% 0%;
        bottom: 0;
      }
      .ml12 {
        font-weight: 700;
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color:rgb(255,140,0);
        position:absolute;
        top:66vh;
        left:23vw;
        line-height: 13.2rem;
      }
      
      .ml12 .letter {
        display: inline-block;
        line-height: 1em;
        
      }
    
       
        .body_wrapper{
            top:100vh
        }
    
        .header{
            height: 100vh;
            top:-255px;
        }
        
        .text_area{
            flex:1;
    
        }
    
        
       .title{
        margin-top:20px;
        font-size:11vw;
       }
       .project_list>li>div{
        font-size:8vw; 
       }
       .SKILLS>.skills_list>li{
        font-size:8vw; 
       }
       .text_area>h1{
        font-family: 'Neucha', cursive;
        color:white;
        background: rgb(255,140,0);
        
    }
    
    
    }








/* =======
IMPORTS
======= */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');


/* =========
VARIABLES
========= */
:root {
  --offset-value: 20;
  --btn-size: 60;
  
  --green:rgb(255,140,0);
}


/* =======
WRAPPER
======= */
.wrapper {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  width: 100%;
  position: relative;
  background:white;
  
}


/* =====================
NAVIGATION BACKGROUND
===================== */
#nav-bg {
	/* position: relative; */
  transform-origin: 0% 0%;
  transition: transform .9s;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
  will-change: transform;
  pointer-events: none;
  background: transparent;
  z-index: 100;
}


/* ======
BUTTON
====== */
.btn {
  position: fixed;
  height: calc(var(--btn-size)*1px);
  width: calc(var(--btn-size)*1px);
  top: 10px;
  left:10px;
  /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
  border-radius: 50% !important;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0 15px;
  border: none;
  z-index: 100000;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--green);
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
  transition: transform .3s;
  /* background-color: transparent; */
}

#toggle-btn span {
  position: relative;
  width: 100%;
}

#toggle-btn span {
  margin-top: -4px;
}
#toggle-btn span + span {
  margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
  content: '';
  position: absolute;
  top: 0;
  background: currentColor;
  opacity: .8;
  height: 100%;
  width: 50%;
  height: 4px;
  transition: .25s cubic-bezier(.6,0,.3,1);
  transform-origin: center center;
}

#toggle-btn span:before {
  left: 0;
  border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
  right: 0;
  border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
  transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
  transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
  transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
  transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
  opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
  transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
  transform: translateX(200%);
}

#toggle-btn.shown:before {
  transform: scale(.6);
  transition: .2s;
}

#toggle-btn:before {
  content: '';
  transition: .2s .2s;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,.1); */
  border-radius: inherit;
  filter: blur(5px);
  z-index: -2;
}
#toggle-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  /* background: turquoise; */
}

/* ==========
NAVIGATION
========== */
nav {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex !important;
  z-index: 200;
  pointer-events: none;
  justify-content: space-around;
}

nav ul {
  margin: auto;
  pointer-events: auto;
  text-align: center;
}

nav li {
  font-size: 5rem;
  color: white;
  user-select: none;
  transform: translate(-20px,20px) scale(.9);
  transition: 0s;
  opacity: 0.0001;
  visibility: hidden;
  will-change: transform;
  list-style: none;
}

nav li + li {
  margin-top: 30px;
}

#toggle-btn.shown ~ .wrapper nav li {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: .35s cubic-bezier(.4,2.08,.55,1);
}

#toggle-btn.shown ~ .wrapper nav li:nth-child(1) {
  transition-delay: .15s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(2) {
  transition-delay: .125s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(3) {
  transition-delay: .1s;
}

/* ============
LINK EFFECT
============ */
#link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#link:before,
#link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: #4ECA78;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

#link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

#link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

#link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

#link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}


/* =======
CONTENT
======= */
#content {
  display: flex;
  height: 100%;
}

#content h1 {
  font-size: calc(4vmin + 1em);
  text-align: center;
  margin: auto;
  /* color: #fff; */
  text-shadow: 0 6px 18px rgba(0,0,0,.1);
}




/* Usual suspects */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

#link{
    /* color:white; */
    font-weight: 900;
    font-size:8rem;
}

@media screen and (max-width: 991px){
  .btn{
    height: 80px;
    width:70px;
  }
  #toggle-btn span + span {
    margin-top: 10px;
  }
}
