html {
    scroll-behavior: smooth;
  }
body{
    margin: 0  ;                   
} 
canvas{
    height:100%;
    width:100%;
    position: absolute;
    top:0px;
    z-index: 1;
}
.flex{
    display:flex                         
}
.title{
    flex:1;
    margin:0 auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;   
}
li{ 
    /* font-family: 'Baloo Bhai', cursive;   */
    font-family: 'Pathway Gothic One', sans-serif;
    /* font-family: 'Cookie', cursive;  */
    font-size: 28px;
    color:rgb(255,140,0);
}

.git_link>a{
    color:rgb(189, 134, 25);
    padding:20px;
    margin-right: -50% ; 
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

a{   
    color:rgb(255,140,0);
    text-decoration:none;
}

.main{
    width: 100%;
    flex-direction: column;
}
.header{
    height: 100vh;
    width: 100%;
    background-color:black;
    /* z-index:-1; */
    flex-direction: column;
    justify-content: space-between;
    
}
.subheader{
    transition: 0.5s;
    width: 100%;
    position:relative;
    height: fit-content;   
    padding:5px;
    align-items:flex-start;
    flex-wrap:wrap;
    z-index: 2;
}
.nav{
    transition: 0.5s;
    position: relative;
    flex:10;
}
.nav span{
    display: none;
    position: absolute;
    top:11px;
    left:20px;
    width:60px;
    background: rgba(255,255,255,1);
    
}
.toggle{
    cursor: pointer;
    position: absolute;
    top:10px;
    left:10px;
    width:55px;
    height: 45px;
    background-color: white;
}
input{ 
    margin-left:10px;
    width:74px;
    height: 55px;
    position:absolute;
    top:0px;
    opacity: 0;
}

input[type=checkbox]:checked~.bar1{
    transform:translateY(8px) rotate(45deg);
}
input[type=checkbox]:checked~.bar2{
    transform:translateY(-8px) rotate(-45deg);
}

.bar1{ 
    transition: 0.5s;
    transform: translateY(-8px);
    height:7px;
    margin:10px 2px 24px 4px ;
}
.bar2{
    transition: 0.5s;
    transform: translateY(8px);
    height:7px;
    margin:24px 2px 10px 4px;
}


.navigation_bar{
    transition: 0.5s;
    flex:10;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
}
.navigation_bar>a{
    background-color: 'red';
}

.navigation_bar_item{
    transition: 0.3s;
    font-family: 'Cinzel, serif';
    font-size: 28px;
    margin-left:5px;
}

.navigation_bar_item:hover{
    border-bottom: 4px solid royalblue; 
}
@media (max-width: 991px){
    .header{
        height: 100vh;
    }
    .subheader{
        flex:9;
        height: 100vh;
    }
    .text_area{
        flex:1;

    }

    .nav{
        flex:1;
        height: 100%;
    }
    .nav span{
        display: block;
        background-color: rgb(255,140,0);
    }
   
    .navigation_bar{
        color:rgb(255,140,0);
        flex-direction: column ;
        align-items: center;
        width:100%;
        height: 100%;
        justify-content: space-around;
        display:none;
    }
     input[type=checkbox]:checked~.navigation_bar {
       display: flex;
       background: rgba(255,255,255,1);

     } 
   .navigation_bar_item>a{
       font-size:13vw;
   }
   .text_area>h1{
    font-size:11vw;
   }
   .title{
    margin-top:20px;
    font-size:11vw;
   }
   .project_list>li>div{
    font-size:8vw; 
   }
   .SKILLS>.skills_list>li{
    font-size:8vw; 
   }
   .text_area{
       height: 100vh;
   }
   .text_area>h1{
    font-family: 'Neucha', cursive;
    color:white;
    background: rgb(255,140,0);
    
}
}



.text_area{
    height: 90vh;
    /* align-self: center; */
    color:white;
   
    font-family: 'Karma', serif;
    font-size: 25px;
    /* margin-left:10px; */
    /* width:fit-content; */
    /* align-items: center; */
    flex-wrap: wrap;
}





.body_wrapper{ 
    z-index: 2;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
}
.PROJECTS{
    background:rgba(211,211,211,0.7);
    width:100%;
    height:100vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.project_list{
    flex:7;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
}
.project_list>li{
    padding:10px;
}
.TANKER{
    height: auto;

}
.AUDIO_VISUALISER{
    height: auto;
   
    
}

.SKILLS{
    width:100%;
    height:100vh;
    background:rgba(211,211,211,0.5);
    flex-direction: column;
    justify-content: space-evenly;
    flex:4;
}
.skills_list{
    flex:7;
    flex-direction: column;
    justify-content: space-between;
}
.skills_li{
    margin-left: 5px;
    padding: 10px;
    list-style-position: inside;
}

.footer{
    height:50vh;
    background: url("coverpic.jpg") no-repeat ;
    background-size:cover;
    background-position: center;
    
}
